@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --cor1: #0597F2;
    --cor2: #ea4200;
    --cor3: #04ff00;
    --fonte_padrao: Arial, Helvetica, sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
}

body{
    background-color: white;
}

header{
    padding: 10px 4%;
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Righteous", sans-serif;
    letter-spacing: 3px;
}

header h1{
    font-weight: 300;
    text-shadow: 5px 4px 10px #00000091;
}

header a{
    font-size: 17px;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 15px;
    text-align: right;
}

/*--------------------------------------*/

.menu-mobile{
    background-color: var(--cor2);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    transition: .3s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
    padding-left: 0%;
}

.menu-mobile nav ul li a{
    color: white;
    font-size: 17px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: var(--cor1);
    width: 100%;
}

.menu-mobile .btn-fechar{
    padding: 20px 10%;
}

.menu-mobile .btn-fechar svg{
    color: white;
}

.btn-abrir-menu svg{
    display: none;
}

.overlay-menu{
    background-color: #00000071;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/*---------------------------------------------*/

.banner{
    background: url("Imagens/Banner\ 1.avif") no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.banner h1{
    color: white;
    font-family: "Righteous", sans-serif;
    text-align: right;
    padding-right: 50px;
    padding-top: 130px;
    font-weight: 300;
    font-size: 55px;
    letter-spacing: 3px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

#texto-banner-1{
    padding-top: 25px;
}

/*----------------------------------------*/

#flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    color: var(--cor2);
    font-family: "Righteous", sans-serif;
}

#flex div{
    width: 180px;
    height: 220px;
    flex: 1 1 200px;
    margin: 30px;
    border-top-style: solid;
    border-color: var(--cor1);
    border-radius: 8px;
    box-shadow: 3px 3px 15px #89898985;
    transition: 0.5s all;
}

#flex div:hover{
    transform: scale(1.05);
}

.img-produtos{
    max-width: 100%;
    display: block;
    width: 130px;
    height: 130px;
    margin: auto;
}

.produtos{
    text-align: center;
    padding: 15px 0px;
    font-size: 20px;
}

#h1-section{
    display: block;
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    color: var(--cor1);
    padding: 40px 0px;
    font-family: "Righteous", sans-serif;
    letter-spacing: 3px;
}

span{
    color: var(--cor2);
}


@keyframes flutuar{
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}

footer{
    background-color: var(--cor2);
    width: 100%;
    height: 100%;
    font-family: "Righteous", sans-serif;
}

footer .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    padding: 25px 0 25px 0;
}

.container h3{
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

#area1{
    line-height: normal;
}

#area2{
    line-height: 30px;
}

#area3{
    line-height: 30px;
}

.redes-sociais{
    padding-top: 20px;
}

#whaths svg{
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: var(--cor3);
    z-index: 9999;
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .menu-desktop{
        display: none;
    }

    .btn-abrir-menu svg{
        display: inline;
        color: white;
    }

    .banner{
        width: 100%;
        height: 100%;
    }

    .banner h1{
        padding-top: 90px;
        font-size: 30px;
        height: 150px;
    }

    #h1-section{
        font-size: 30px;
    }

    footer .container{
        justify-content: flex-start;
        padding: 0px 20px 0px 10px;
    }

    .container h3{
        text-align: center;
    }

    #area1{
        width: 100%;
    }

    #area2{
        width: 100%;
    }

    #area3{
        width: 100%;
    }

    #area3 h3{
        margin: 15px 0px;
    }

    .container .redes-sociais{
        text-align: center;
        margin: 20px 0px;
    }

}