@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --cor1: #89B35C;
    --cor2: #6a8a47;
    --fonte_padrao: Arial, Helvetica, sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte_padrao);
    text-align: justify;
}

header {
    width: 100%;
    background-color: var(--cor2);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

header > h1{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 3em;
}

header > h2{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    line-height: 300%;
}

nav {
    background-color: var(--cor1);
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    left: 0; 
    box-shadow: 0px 1px 4px 0px #000000a4;
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
}

nav > a:hover {
    background-color: var(--cor2);
    text-decoration: none;
}

nav > a:visited {
    background-color: var(--cor2);
}

nav > a:active {
    background-color: var(--cor2);
}

main {
    padding: 20px;
    background-color: white;
    /*border-top-left-radius: 20px;
    border-top-right-radius: 20px;*/
}

/*footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
}*/

.img {
    text-align: center;
}
figcaption{
    text-align: center;
}

#historia{
    color: var(--cor2);
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 2em;
}

#diferenciais{
    color: var(--cor2);
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 2em;
}

a{
    color: var(--cor2);
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    img{
        width: 70%;
    }

    header > h2{
        display: none;
    }

    header > h1{
        font-size: 3em;
    }
}